.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  border-radius: 2vmin;
  color: gray;
}

/* .box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
} */

.box2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

form {
  margin: 5px;
}

form > input {
  height: 60px;
  background-color: rgb(238, 238, 238);
}

form > button {
  margin: 5px;
  padding: 10px;
  border-radius: 3vmin;
}