.AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  border-radius: 2vmin
}

.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
  border-radius: vmin;
  padding: 55px 0px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: var(--tan-4);
}