div .SongSearch {
  border: 1px solid gray;
  border-radius: 2vmin;
  margin: 25px;
  background-color: white;
}

ul {
  text-align: left;
  list-style: none;
}

div > input {
  width: 66%;
}

div .lol {
  color: rgb(132, 179, 255)
}

input {
  background-color: rgb(238, 238, 238);
}