tr {
  color: gray;
}

td {
  width: 1000px;
  text-align: left;
  border: 1px solid gray;
  border-radius: 2vmin;
  padding: 10px;
  background-color: white;
}

td div {
  text-align: right;
  padding-top: 10px;
  font-size: 11px;
}

div .postbtn > button {
  background-color: rgb(238, 250, 254);
  color: var(--orange);
  font-size: 11px;
  border: none;
  padding: 3px 3px;
  margin: 0 3px;
}